@model CraiglistClone.Models.ProductVm
@{
    ViewBag.Title = "ViewDetails";
}

<h2>Product Details</h2>
<div id="detailsDiv">
    @foreach (var p in Model.MyProduct)
    {
        <img src="@p.ImgUrl" alt="@p.ProductTitle" />
        <h2>@p.ProductTitle</h2>
        <h3>$@p.Price</h3>
        <p>@p.Description</p>
        <p>@p.City - @p.State</p>
        <p>@Html.ActionLink("Back To List", "Index", "Home", new { @class = "btn btn-primary" })</p>
    }
    

</div>

